{% extends "layout.html" %}
{% block body %}

<h1>Song Explorer!</h1>
<p>Choose some songs to get recommendations <br> Start typing an artist or song title and the top 10 known options will appear</p>

{{ form.autocomp }}

<a href="{{ url_for('index') }}"><button>Clear Songs</button></a>

<script>
  //var selected_clusters = [];
  var selected_labels = [];
  var selected_items = []
  $('#autocomplete').autocomplete({
    source: function (request, response) {
        $.getJSON('{{ url_for("autocomplete") }}',{
            search: request
            }, response);
        },
    minLength: 1,                       
  });
  $("#autocomplete").on("autocompleteselect", function( event, ui) {
    //selected_clusters.push(ui.item.cluster);
    selected_labels.push(ui.item.value);
    selected_items.push(ui.item.cluster);
    $.ajax({
        url: '{{ url_for("add_entry") }}',
        data: ui.item,
        type: 'POST',
        success: function (data, status, jqXHR) {
            //console.log(jqXHR);
            json_data = JSON.parse(data);
            console.log(JSON.parse(data));
            //console.log(data.length);
            //console.log(typeof data);
            recs = "Recommendations:<br>";
            for(var i=0; i<json_data.length; i++){
                recs += "<li>" + json_data[i].value + "</li>";
            }
            $('#reccontent').html(recs)
        }
    });
    var output = "Chosen songs:<br>"
    for(var i=0; i< selected_labels.length; i++){
        output += "<li>" +selected_labels[i] + "</li>";
    }
    //output += "refresh to clear all selections"
    $('#outputcontent').html(output);
    //console.log(selected_clusters);
    //event.preventDefault();
    $(this).val(''); return false; 
  });

</script>

  <table>
  <tr>
  <td valign="top" style="width: 25%;">
  <div id="outputbox">
    <p id="outputcontent">You haven't chosen any songs yet!</p>
  </div>
  </td>
  <td style="width: 5%;"></td>
  <td>
  <div id="recbox">
    <p id="reccontent">No recommendations yet</p>
  </div>
  </td>
  </tr>
  </table>

<!--
<ul class=entries>
  {% for entry in entries %}
    <li><h3>{{ entry.text|safe }}</h3>
  {% else %}
    <li><em>Choose some songs to get recommendations</em>
  {% endfor %}
</ul>
  -->

{% endblock %}
<!--

function( data ) {
            response( $.map( data.results, function( item ) {
                console.log(item)
                return {
                    label: item.name,
                    value: item.id
                }
            }));
        });

$('#autocomplete').autocomplete({
    source: function (request, response) {
        $.getJSON('{{ url_for("autocomplete") }}',{
            search: request
            }, function (data) {
            response($.map(data.dealers, function (value, key) {
                return {
                    label: value,
                    value: key
                };
            }));
        });
    },
    minLength: 2,
    delay: 100
});


$(function() {
        $.ajax({
            url: '{{ url_for("autocomplete") }}'
            }).done(function (data) {
                $('#autocomplete').autocomplete({
                    source: data.json_list,
                    minLength: 2
                });
            });
        });
        
-->
<!--

$("#auto").autocomplete({
    source: function (request, response) {
        $.ajax({
            url: "my_remote_src", 
            data: request,
            success: function (data) {
                response(data);
                if (data.length === 0) {
                    // Do logic for empty result.
                }
            },
            error: function () {
                response([]);
            }
        });
    }
});
-->
<!--
      $(function() {
        $("#in_a").autocomplete({
          source: function( request, response ) {
                            $.getJSON('/suggest',
                                {term: $('input[name="a"]').val()},
                             response);
                        },
          minLength: 1,
        });
      });
-->      
      
<!--<input type="text" id="auto"/>
<script type = "text/javascript">
    $(document).ready(function(){
    $("#auto").autocomplete({
      source: "{{url_for('autocomplete')}}",
      minLength: 1
     });
    });
</script>-->
<!--<h1>jQuery Example</h1>
<p>
  <input type="text" size="5" name="a"> +
  <input type="text" size="5" name="b"> =
  <span id="result">?</span>
<p><a href=# id="calculate">calculate server side</a>-->
<!--<script type="text/javascript">
    $(function() {
        $( "#function_name" ).autocomplete({
            source: '{{url_for("autocomplete")}}',
            minLength: 2,
        });
    });
</script>-->

<!--<form id="function_search_form" method="post" action="">
    {{form.function_name}}
</form>

$(document).ready(function() {
    $.ajax({
        url: '{{ url_for("autocomplete") }}'
    }).done(function (data) {
        $('#function_name').autocomplete({
            source: data,
            minLength: 2
        });
    });
}-->
