{% extends "layout.html" %}
{% block body %}
<div class="allbox">
<div style="text-align: center;">
  <h1>Song Explore!</h1>
  <br>
  <h2>Explore new songs that feel like the songs you know</h2>
  <p>Choose up to 10 songs to get recommendations<br>Start typing an artist or song title and the top 10 options will appear</p>
</div>
<div id="menu-container"> 
 {{ form.autocomp }}
  <a href="#"><button class="more-recs" id="refresh">More</button></a>
  <a href="{{ url_for('index') }}"><button class="more-recs" id="restart">Start over</button></a>
</div>
<div id="boxbox">
  <div class="box" id="outputbox">
    <p id="outputcontent">You haven't chosen any songs yet!</p>
  </div>
  <div class="box" id="recbox">
    <p id="reccontent">No recommendations yet</p>
  </div> 
</div>
</div>

<footer class="footer">
  <p><a href="{{ url_for('about') }}">
  About</a></p>
</footer>

{% endblock %}
